
*{
    margin: 0;
    padding: 0;
}

.about-us{
    padding-top: 10px;
    font-size: 20px;
    font-family: "Montserrat";
}

.contact-signin{
    margin-bottom: 100px;
}

.carousel, .carousel img {
    margin: auto;
    width: 700px;
}

.carousel img {
  height: auto;
}

.donateBtn{
    margin-top: 20px;
    margin-left: 30%; 

}

.footer{
    width: 100%;
}

.footer-main{
    width: 100%;
    margin-top: 500px;
    bottom: 0;
}

.footer-about{
    margin-top: 100px;
    width: 100%;
    bottom: 0;
    
}

.footer-contact{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.footer-email{
    margin-top: 5px;
}

.header{
    height: 100vh;
}

.heading-about{
    margin-top: 5px;
    text-align: center;
}

.head-submit{
    text-align: center;
}

.intro-text{
    padding-top: 10px;
    font-size: 25px;
    font-family: "Montserrat";
}

/* .img-about{
    display: block;
    margin: auto;
    width: 50%;
    
} */

.navbar-style{
    box-shadow:0 5px 10px #efefef ;
}

.logo{
    height: 100px;
    padding:2px 10px;
}

.responsive{
    width: 100%;
    height: 70%;
}

.quote{
    font-family: 'Waterfall', cursive;
    font-size:5rem;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height:7;
    /* font-weight: bold; */
}

